In [21]:
dict1 = {'apples': 1.20, 'kiwi': 'out of stock', 'water 0.5':0.7, 'water 1.5': 1.30}

In [86]:
dict1

{'apples': 1.2, 'kiwi': 'out of stock', 'water 0.5': 0.7, 'water 1.5': 1.3}

In [85]:
dict1['kiwi']

'out of stock'

In [23]:
dict1['water 0.5']

0.7

In [95]:
my = {'students':{'Lili':27, 'Alex':'Perth'}, 'cars':['BMW', 'Opel', 100], 'name':'Ann'}

In [99]:
my['students']

{'Lili': 27, 'Alex': 'Perth'}

In [92]:
my['students']['Lili']

27

In [18]:
my['name']

'Ann'

In [56]:
my['cars'][3]

100

In [11]:
'cz'.upper()

'CZ'

In [24]:
my['name'].upper()

'ANN'

In [25]:
my['new key'] = 100

In [87]:
my

{'students': {'Peter': 29, 'Lili': 27, 'Alex': 'Perth', 'George': 'graduated'},
 'cars': ['BMW', 'VW', 'Opel', 100],
 'name': 'Petya',
 'new key': 100}

In [28]:
my['name'] = 'Petya'

In [32]:
my

{'students': {'Peter': 29, 'Lili': 27, 'Alex': 'Perth', 'George': 'graduated'},
 'cars': ['BMW', 'VW', 'Opel', 100],
 'name': 'Petya',
 'new key': 100}

In [53]:
my.values()

dict_values([{'Peter': 29, 'Lili': 27, 'Alex': 'Perth', 'George': 'graduated'}, ['BMW', 'VW', 'Opel', 100], 'Petya', 100])

In [45]:
t1 = (1, 2, 3, 2, 3, 3)

In [43]:
t1.count(2)

2

In [44]:
t1.index(3)

2

In [61]:
li = [1, 2, 3]

In [62]:
li[1]

2

In [64]:
li.insert(0, 5)

In [65]:
li

[5, 1, 2, 3]

In [68]:
myset = set()

In [69]:
myset.add('Oups')

In [70]:
myset

{'Oups'}

In [71]:
myset.add(1)

In [72]:
myset

{1, 'Oups'}

In [73]:
myset.add(1)

In [74]:
myset

{1, 'Oups'}

In [75]:
mylist = [1,1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]

In [78]:
set(mylist)

{1, 2, 3, 4, 5}

In [79]:
set('popi')

{'i', 'o', 'p'}

In [80]:
b = None

In [81]:
type(b)

NoneType

In [82]:
type(m)

list